.Ships {
  width: 21vw;
  height: 20vw;
  margin: 20px;
  padding: 1vw 0px;
}

.Ships > div {
  height: 3vw;
  margin: 1vw;
  width: fit-content;
  cursor: pointer;
}

.Ships > div > div {
  width: 3vw;
  /* padding: 0px max(0.1vw, 1px); */
  border: 1px solid white;
  height: 3vw;
  background-color: gray;
  display: inline-block;
}

.Vertical {
  transform: rotate(270deg);
}

@media only screen and (max-width: 600px) {
  .Ships {
    width: 90vw;
    height: 90vw;
    margin: auto;
  }

  .Ships > div {
    height: 14vw;
  }

  .Ships > div > div {
    width: 9vw;
    height: 9vw;
  }
}
