.Ships {
  width: 21vw;
  height: 21vw;
  margin: 1vw;
  padding: 0.5vw 0.5vw;
  display: flex;
  flex-direction: column;
}

.Ships > div {
  height: 3vw;
  margin: 0.5vw;
  width: fit-content;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, 3vw);
}

.Ships > div > div {
  width: 3vw;
  border: 1px solid white;
  height: 3vw;
  background-color: gray;
  display: inline-block;
}

.VerticalShips {
  width: 21vw;
  height: 21vw;
  margin: 1vw;
  padding: 0.5vw 0.5vw;
  display: flex;
}

.VerticalShips > div {
  height: 3vw;
  margin: 0.5vw;
  width: fit-content;
  cursor: pointer;
  display: grid;
  grid-template-rows: repeat(5, 3vw);
}

.VerticalShips > div > div {
  width: 3vw;
  border: 1px solid white;
  height: 3vw;
  background-color: gray;
  display: inline-block;
}

.HideShips {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Ships {
    width: 90vw;
    height: 90vw;
    margin: auto;
  }

  .Ships > div {
    height: 14vw;
  }

  .Ships > div > div {
    width: 9vw;
    height: 9vw;
  }
}
