.Container {
  display: flex;
  height: 35vw;
  align-items: center;
  justify-content: center;
}

.Grid {
  display: grid;
  grid-template-rows: repeat(10, 3vw);
  width: 31vw;
  grid-row-gap: max(0.1vw, 1px);
  margin: 1vw;
}

.Label {
  text-align: center;
  font-size: 1.2vw;
}

@media only screen and (max-width: 600px) {
  .Container {
    height: auto;
    flex-direction: column;
  }

  .Grid {
    grid-template-rows: repeat(10, 9vw);
    margin: 20px auto;
    width: 95vw;
  }

  .Turn {
    height: 10vw;
  }

  .Turn button {
    height: 15vw;
    width: 80vw;
    font-size: 7vw;
    margin-bottom: 2vw;
    position: absolute;
    top: 19vh;
  }

  .Turn button:disabled {
    font-size: 7vw;
    width: 80vw;
  }

  .Buttons {
    height: 15vw;
    margin-bottom: 5vw;
  }

  .Buttons > button {
    height: 15vw;
    font-size: 7vw;
    width: 80vw;
  }

  .HideRotate {
    display: none;
  }

  .Label {
    font-size: 5vw;
  }
}
