.Container {
  display: flex;
  height: 35vw;
  align-items: center;
}

.Grid {
  display: grid;
  grid-template-rows: repeat(10, 3vw);
  width: 31vw;
  grid-row-gap: max(0.1vw, 1px);
  margin: 1vw;
}

.Turn {
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vw;
}

.Turn button {
  width: 10vw;
  height: 5vw;
  font-size: 1.2vw;
  background-color: rgb(212, 212, 212);
  border: none;
  background-color: none;
}

.Turn button:disabled {
  background-color: white;
  color: black;
  font-size: 1.5vw;
  width: 12vw;
}

.Turn button:disabled:hover {
  background-color: white;
  cursor: default;
}

.Turn button:hover {
  background-color: rgb(187, 187, 187);
  cursor: pointer;
}

.Label {
  text-align: center;
  font-size: 1.2vw;
}

.Buttons {
  display: flex;
  justify-content: center;
  height: 5vw;
}

.Buttons > button {
  width: 41%;
  border: none;
  font-size: 1.2vw;
  outline: none;
  height: 5vw;
  margin: 0.1vw;
  background-color: rgb(212, 212, 212);
  color: rgb(0, 0, 0);
}

.Buttons > button:hover {
  background-color: rgb(187, 187, 187);
  cursor: pointer;
}

.Winner {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 100vh;
  transition: all 2s ease-out;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 7vw;
}

.Winner div {
  line-height: 40vh;
}

.Winner button {
  width: 41%;
  border: none;
  font-size: 1.2vw;
  outline: none;
  height: 5vw;
  margin: 0.1vw;
  background-color: rgb(212, 212, 212);
  color: rgb(0, 0, 0);
  margin-bottom: 10vw;
}

.Winner button:hover {
  background-color: rgb(187, 187, 187);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Container {
    flex-wrap: wrap;
    height: auto;
    flex-direction: column;
  }

  .Grid {
    display: grid;
    grid-template-rows: repeat(10, 9vw);
    grid-template-columns: repeat(10, 9vw);
    grid-column-gap: 1px;
    margin: 20px auto;
  }
}
