.Row {
  width: 3vw;
  height: 3vw;
  display: grid;
  grid-row-gap: 1px;
  color: red;
  font-size: 40px;
}

.Column {
  width: 3vw;
  height: 3vw;
  text-align: center;
  line-height: 3vw;
  background-color: rgb(187, 205, 228);
}

